<div id="Seccion_Educacion" class="m-5">
  <section class="mb-2 p-2">
      <h1>Educación</h1>
      <div class="container-fluid">
            <div class="row">
              <div class="col-2">
                <h5> {{educacionLista.institucion}} </h5>
              </div>
              <div class="col-8">
                <h2> {{educacionLista.titulo}} </h2>
                <p> {{educacionLista.carrera}} </p>
              </div>
              <div class="col">
                    <p> {{educacionLista.desde}} </p>
                    <p> {{educacionLista.hasta}} </p>
              </div>
            </div>
      </div>
        <button *ngIf="usuarioAutenticado" class="btn btn-primary" data-bs-toggle="modal" 
           data-bs-target="#modalEducacion">Editar</button>
  </section>
</div>

<!-- Modal -->
<div class="modal fade" id="modalEducacion" tabindex="-1" aria-labelledby="tituloModalEducacion" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="tituloModalEducacion">Editar Educacion</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form [formGroup]="form">
                  <div class="mb-3">
                      <label for="institucion" class="form-label">Institucion Educativa</label>
                      <input type="text" class="form-control" id="institucion" formControlName="institucion">                      
                  </div>
                  <div class="mb-3">
                      <label for="titulo" class="form-label">Titulo</label>
                      <input type="text" class="form-control" id="titulo" formControlName="titulo">
                      <div class="mb-3">
                          <label for="carrera" class="form-label">Carrera</label>
                          <input type="text" class="form-control" id="carrera" formControlName="carrera">
                      </div>
                      <div class="mb-3">
                          <label for="desde" class="form-label">Año Inicio</label>
                          <input type="text" class="form-control" id="desde" formControlName="desde">
                      </div>
                      <div class="mb-3">
                        <label for="hasta" class="form-label">Año Fin</label>
                        <input type="text" class="form-control" id="hasta" formControlName="desde">
                    </div>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" id="cerrarModalEducacion" class="btn btn-secondary"
                  data-bs-dismiss="modal">Salir</button>
              <button type="button" class="btn btn-primary" (click)="guardarDatosEducacion()">Guardar</button>
          </div>
